language: r
sudo: false
cache: packages
git:
  depth: false
apt_packages:
  - libpoppler-cpp-dev
  - libudunits2-dev
  - libgdal-dev
  - libgeos-dev
  - libproj-dev
script:
  - sudo apt-get install r-cran-devtools
  - R -e 'devtools::install_deps(dep = T)'
  - R -e 'devtools::install_github("r-lib/pkgdown", upgrade = "never")'
  - R CMD build .
  - R CMD check *tar.gz
warnings_are_errors: true
notifications:
  email:
    recipients:
    - mbafs2012@gmail.com
    on_success: change
    on_failure: change
after_success:
    - Rscript -e 'covr::codecov()'
    - Rscript -e "pkgdown::build_site()"
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch: master
  local_dir: docs
  keep-history: true
  allow-empty-commit: false